.card {
    background-color: #FFFFFF;
    width: 300px;
    height: 250px;
    border: 5px solid #006767;
    border-radius: 10px;
    color: #006767;
    display: inline-block;
    margin: 10px;
}

.cancel-btn {
    background-color: #008080;
    width: 70%;
    margin: 10px;
    color: white;
    font-size: 1em;
    height: 35px;

}